<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Using Router</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script>
        const mainApp = angular.module('app', []);
        mainApp.controller('controller', function($scope, $http) {
            $scope.message = 'Hello';
            $scope.performGet = function() {
                $http.get('/data', {
                    params: {
                        message: $scope.message
                    }
                }).then(
                    function success(response) {
                        $scope.message = response.data;
                    },
                    function error(response) {
                        alert(response);
                    }
                )
            }
            $scope.performPost = function() {
                $http.post('/data', {message: $scope.message})
                .then(
                    function success(response) {
                        $scope.message = response.data;
                    },
                    function error(response) {
                        alert(response);
                    }
                )
            }
        });
    </script>
</head>
<body>
    <h1>This is routing example.</h1>
    <div ng-app="app" ng-controller="controller">
        <input class="form-control" type="text" ng-model="message">
        <button class="btn btn-default" ng-click="performGet()">Send Get Message</button>
        <button class="btn btn-default" ng-click="performPost()">Send Post Message</button>
    </div>
</body>
</html>