<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solve</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
       function studentController($scope) {
          $scope.student = {
             firstName: "Mahesh",
             lastName: "Parashar",

             fullName: function() {
                var studentObject;
                studentObject = $scope.student;
                return studentObject.firstName + " " + studentObject.lastName;
             }
          };
       }

       <!-- 1. Application에 Controller를 추가하는 코드 추가 -->
       const mainApp = angular.module('mainApp', []);
       mainApp.controller('studentController', studentController);
    </script>
</head>
<body>
    <!-- 2. ng-app 지시자에 mainApp설정하는 코드 추가 -->
    <div ng-app = "mainApp" ng-controller = "studentController">
        Enter first name: <input type="text" ng-model="student.firstName"><br />
        Enter last name: <input type="text" ng-model="student.lastName"><br />
        You are entering: {{ student.fullName() }}
    </div>
</body>
</html>