<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderBy asc, desc</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module("app", []);

        app.controller('ctrl', function($scope, $timeout) {
          $scope.value = 100;
          $scope.isShow = false;

          $scope.data = [];
          for(var i=0; i<100; i++) {
            $scope.data.push(i);
          }

          $scope.show = function() {
            $scope.isShow = true;

            $timeout(function() {
              var inputElement = document.getElementById('99');
              console.log('inputElement :', inputElement);
            });
            // var inputElement = document.getElementById('99');
            // console.log('inputElement :', inputElement);
          }
        });
    </script>
</head>
<body>
    <div ng-app="app" ng-controller="ctrl">
      <button ng-click='show()'>Show</button>
      <br />
      <ul ng-if='isShow'>
       <li id='{{item}}' ng-repeat='item in data'>
         {{item}}
       </li>
      </ul>
    </div>
</body>
</html>
