<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <body>
  <div ng-app="myApp" ng-controller="myCtrl">

  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  <span ng-click="alertValue()">Full Name: {{firstName + " " + lastName}}</span>

  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName= "John";
        $scope.lastName= "Doe";
        $scope.alertValue = () => {
          alert($scope.firstName + ' : ' + $scope.lastName);
        }
    });
  </script>
</body> -->

<body class="container" ng-controller="mainController">
  <script>
  angular.module('ngBindApp', []).
    controller('mainController', ['$scope',function($scope){
      $scope.greeting = "hello";
      $scope.changeValue = function (newVal) {
        $scope.greeting = newVal;
      }
    }]);
  </script>
  <div ng-app="ngBindApp" ng-controller="mainController">
    <!-- ngBind 지시로 greeting 모델의 값(hello)에 데이터바인딩을 하였다. -->
    <!-- <h1 ng-bind="greeting"></h1> -->

    <input type='text' ng-model="greeting"></input>
    <h1>{{ ::greeting }}

    <!-- 버튼을 클릭하면 changeValue함수를 호출하고 자바스크립트 데이터를 변경한다. 해당 모델의 값이 변경되는 자동으로 바인딩된 화면의 값이 업데이트된다. -->
    <button ng-click="changeValue('hello again')">값 변경</button>
  </div>

</body>

</html>
